h1{background-color: rosybrown;color: white;text-align: center;}
.catclass{width: 100%;height: 100px;  position: relative;
}
.catclass img{width: 150px;
position: absolute;
left: 0 ;animation-name: catruns;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes catruns{
    from{left: 0;}
    to{left:85%}
}
.heart{width: 100px; position: relative;}
.heart img{
    width: 100px;height: 100px;
    position: absolute;
    left: 700px;
    transition-property: width,height;
    transition-duration: 1s;
}
.heart img:hover{
    width: 200px;height: 200px;
}

